
.font-style{
    font-family: 'Dongle', sans-serif;
    color: #08fdd8;
    position:absolute;
   
    
}

.font-style2{
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
   
    position: relative;
    
     
}
.font-style3{
    font-family: 'Dongle', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #08fdd8;
    background-color: transparent;
    /*padding:30px ;*/
    
}